.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 8%
    right: 30%
  &-2
    animation: float1 2.0s ease-in-out infinite alternate
    position: absolute
    top: 68%
    right: 85%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 72%
    right: 5%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 48.33333333% !important
  padding
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 35%;
    
.boton *, .boton--sm * 
  color: #fff !important
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: $color-sistema-texto !important


.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important
figcaption, caption
    font-weight: normal !important
    background-color: #F6F6F6 !important
.container.tarjeta.tarjeta--blanca.p-4.p-md-5.mb-5.mb-cus-intro
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;

.banner-principal__info 
    background-color: #e3dcd9;
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
.tabla-a.table-wcus table
    min-width: 480px;
.tabla-a thead 
    background-color: #E3DCD9;
.tabla-a.table-wcus table th, .tabla-a.table-wcus table td 
    padding: 10px 20px;
.pasos-b__header__btn--left, .pasos-b__header__btn--right,
.slyder-a__btn--sigt, .slyder-a__btn--atrs
    border: 0 !important;
    background-color: #734F43;
    color: #fff !important;
.pasos-b__header__item--before .pasos-b__header__item__dot 
    border-color: $color-acento-contenido;
    background-color: $color-acento-contenido
.pasos-b__header__item--before .pasos-b__header__item__line-container:after,
.pasos-b__header__item--before .pasos-b__header__item__line-container:before, 
.pasos-b__header__item--before .pasos-b__header__item__line-container:after,
.pasos-b__header__item--active .pasos-b__header__item__line-container:before
    background-color: $color-acento-contenido;
.slyder-a__bullets__item
    border: 0 !important;
    background-color: #D2E2E9
.slyder-a__bullets__item--active
    border: 0 !important;
    background-color: #658B99
.lista-ul--color.color-primario li > i:first-of-type
    color: $color-primario !important;
.lista-ul--color.color-primario li
    margin-bottom: 1.5rem
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 2.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-color:  #F3F0EF
    background-position: center
    background-size: cover
    background-repeat: no-repeat
  &-2
    background-image: url("../assets/curso/temas/bg/1.svg") !important
    background-position: center
    background-size: cover
    background-repeat: no-repeat
  &-3
    background-image: url("../assets/curso/temas/bg/3.svg") !important
    background-position: center
    background-size: cover
    background-repeat: no-repeat
.bg-color
  &-1
    background-color: #E3E4ED !important
  &-2
    background-color: #E3DCD9 !important
  &-3
    background-color: #A6826D !important
  &-4
    background-color: #453028 !important
  &-5
    background-color: #fff !important
  &-6
    background-color: #4C6873 !important
  &-7
    background-color: #CBDEE5 !important
  &-8
    background-color: #C7B8B4 !important
  &-9
    background-color: #C6CADB !important

.br
  &-1
    border-radius: 10px !important

.ml-cus
  &-1
    margin-left: 30px !important
  &-2
    margin-top: 2rem !important
      
.hcard
  &-1
    height: 250px !important
  &-2
    height: 390px !important
.pcus
  &-1
    padding: 3rem !important
  &-2
    padding: 3rem !important;

.titulo-icono
  border-top: 1px dashed $color-secundario
  border-bottom: 1px dashed $color-secundario
  border-right: 1px dashed $color-secundario
  
  width: fit-content
  position: relative;
  left: 40px;
  &-text
    margin-right: 10px
    margin-left: 30px;
  &-img
    padding: 0px
    position: absolute
    top: -5px
    left: -20px


    &:before
      position: relative
      border-bottom-right-radius: 40px
      @media screen and (max-width: 767px)
        height: 280%
    img
      position: relative
      max-width: 50px      

/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important;
    margin: 2rem !important
  
  .bloque-texto-g 
    padding-top: 50px !important;
  .bloque-texto-g__texto
    width: 100%;
  .tarjeta--container > .tarjeta:first-child,
  .tarjeta--container > .tarjeta:last-child
    border-radius:  0px !important
  .tabla-a.table-wcus table
    min-width: 100% !important;
  .hcard
    &-1
      height: 320px !important
    &-2
      height: 420px !important
    &-3
      height: auto !important
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
        width: 85% !important;
        margin: 1rem !important;
  .bloque-texto-g 
    padding-top: 20px !important;
  .pcus
    &-1, &-2
      padding: 1rem !important;
  .titulo-icono
    left: 10px;
    border-left: 1px dashed $color-secundario
    width: 100%;
    &-text
      margin-left: 1px;
      padding-left: 5px;
    &-img
      display: none !important
  .tarjeta--container > .tarjeta:first-child,
  .tarjeta--container > .tarjeta:last-child
    border-radius:  0px !important
  .hcard
    &-1, &-2
      height: auto !important